  
  .card {
    padding: 5px 25px 10px 25px;
    max-width: 25%;
    
      @media screen and (min-width: 694px) and (max-width: 915px) {
        .card {
          max-width: 33%;
        }
      }
      
      @media screen and (min-width: 652px) and (max-width: 693px) {
        .card {
          max-width: 50%;
        }
      }
      
      
      @media screen and (max-width: 651px) {
        .card {
          max-width: 100%;
          margin: auto;
        }
  }
}

.button{
    padding: 5px;
}

h5{
    margin-bottom: 15px;
}