.search {
    display: flex;
    flex-direction: row;
}


.input-style {
    /* display: block; */
    width: 50%;
    margin: 20px 20px;
    margin-left: 60px;
    padding: 10px;

    /* outline: none; */
    /* background: none; */

    background-color:  #eee;
    border-radius: 3px;

    color: black;
    font-size: 20px;

    transition: 0.4s ease-out;

    
}

.input-style:focus  {
    box-shadow: 0px 0px 8px 3px #4484c4;
}

.input-button{    
    width: 10%;
    margin: 20px 20px;
    margin-left: 50px;
    padding: 10px;
    cursor: pointer;
}