* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: initial;
   background: rgb(24, 24, 24);
  color: white;
  text-transform: uppercase;
  font-family: Helvetica;
  font-weight: 300;
  background-color: none;
} 

.navbar-title {
  margin-left: 20px;
  font-size: 150%;
 cursor: pointer;
  padding: 12px 16px;
}

.navbar-item {
  margin-right: auto;

  padding: 16px 16px;
 cursor: pointer;
  /* vertical-align: middle; */
}
.navbar-title2 {
  text-align: right;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

